/* src/assets/theme.css */

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Great+Vibes&display=swap');

/* Theme colors */
/* :root {
    --primary-color: #c59462; 
    --secondary-color: #f3ceae; 
    --accent-color: #8c6b4e; 
    --text-color: #4f3a2d; 
    --background-color: #f3ceae; 
    --nav-item-hover-color: #a07459; 
  } */

  :root {
    --primary-color: #303841; /* Charcoal */
    --secondary-color: #3a4750; /* Independence */
    --accent-color: #00adb5; /* Bright blue */
    --text-color: #eeeeee; /* Off white */
    --background-color: #3a4750; 
    --nav-item-hover-color: #00adb5; /* Bright blue for hover state */
  }

/* Overall body styling */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

/* Navbar custom styling */
.navbar-custom {
  background-color: var(--primary-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Navbar brand styling */
.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 2rem; /* Ensure proper spacing */
}

/* Logo text styling */
.logo-text {
  font-family: 'Great Vibes', cursive; /* Cursive font for the logo text */
  color: var(--text-color);
  font-size: 3rem; /* Adjust the size as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds depth to text */
}

/* Nav link styling */
.nav-link {
  color: var(--text-color) !important;
  font-weight: bold;
  font-size: 1.25rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--nav-item-hover-color) !important;
}

/* Spacing between navigation items */
.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.content-section {
    padding: 4rem 2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin-bottom: 2rem;
}
  
  /* Footer styling */
  .footer {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.button, .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover, .btn:hover {
    background-color: var(--nav-item-hover-color);
}

  

/* Responsive adjustments */

@media (max-width: 768px) {
    .navbar-custom {
        padding: 0.5rem 1rem;
    }

    .content-section {
        padding: 2rem 1rem;
    }

    .logo-text {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .footer {
        padding: 0.5rem;
    }
    
}
/* Additional styles as needed */
  